{% extends "layout.html" %}
{% block content %}
    {{ super() }}
    <div ng-app="SocialExplorerApp">

    <img src="holder.js/100%x600/text:Social Nation goes here">

    <hr>
    <div ng-controller="cmseInstagramCtrl">
        <span cmseLoading ng-if="loading=true"></span>
        <div class="row" ng-repeat="rows in chunkedData">
          <div class="col-md-3" ng-repeat="item in rows">
            {% include 'instagram.html' %}
          </div>
          <div class="clearfix visible-xs-block"></div>
        </div>
    </div>
{% endblock %}