{% extends "layout.html" %}
{% block content %}
    {{super()}}
    <img src="holder.js/100%x600/text:Social Nation goes here">

    <hr>

    <div class="panel panel-default">
          <div class="panel-body">
              <p>Stuff and things</p>
          </div>

        <table class="table">
            <tr>
                <th>#</th>
                <th>Nation</th>
                <th>President</th>
                <th>Population</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Brooklyn</td>
                <td>
                    <a href="#">@seannnnnnnnnnnn</a>
                </td>
                <td>100</td>
            </tr>

        </table>
    </div>

{% endblock %}