{% extends "layout.html" %}
{% block content %}
    {% include 'header.html' %}
    {% include 'subhead.html' %}
    {% include 'authorize.html' %}
        {% if session['twitter_token'] and session['instagram_token'] %}
            <form action="/explore">
                <button type="submit" class="btn btn-lg btn-success">Explore</button>
            </form>
        {% else %}
            <form action="/explore">
                <button type="submit" class="btn btn-lg btn-success" disabled>Explore</button>
            </form>
        {% endif %}
{% endblock %}